<h1>New Team</h1>

<form action="/create_team">
  <div>
    <label for="coach">Name</label><br />
    <input id="name" name="name" type="text" style="width: 200px;"/>
  </div>
  <div>
    <label for="coach">Coach</label><br />
    <input id="coach" name="coach" type="text" style="width: 200px;"/>
  </div>
  <div>
    <label for="bio">Bio</label><br />
    <textarea id="bio" name="bio" type="text" cols="40" rows="4"></textarea>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

