<h1>New Fantasy Team Player</h1>

<form action="/create_fplayer">
  <div>
    <label for="fantasy_id">Fantasy ID</label><br />
    <input id="fantasy_id" name="fantasy_id" type="text" />
  </div>
  <div>
    <label for="player_id">player_id</label><br />
     <input id="player_id" name="player_id" type="text">
  </div>
  <div>
    <input type="submit">
  </div>
</form>



