<h1>New Fantasy Team for <%= @player.name %></h1>

<form action="/create_fplayer">
  <input type="hidden" name="player_id" value="<%= @player.id %>">
  <div>
    <div>
    <label for="fantasy_id">Fantasy Team</label><br />
    <select name="fantasy_id">
      <% @fantasys.each do |fantasy| %>
      <option value="<%= fantasy.id %>"><%= fantasy.name %></option>
      <% end %>
    </select>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
</form>