<h1>New Player for <%= @fantasy.name%></h1>

<form action="/create_fplayer">
  <input type="hidden" name="fantasy_id" value="<%= @fantasy.id %>">
  <div>
    <div>
    <label for="player_id">Player</label><br />
    <select name="player_id">
      <% @players.each do |player| %>
      <option value="<%= player.id %>"><%= player.name %></option>
      <% end %>
    </select>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
</form>