<div class="gold">
<h1>Jack's Team is the Champion by a score of 4-2!!!!! They Have won the HUT Cup!!!!</h1>
<br>
<br>
<div class="gold">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="border" src="http://voices.suntimes.com/wp-content/uploads/2013/06/171460497_39907791.jpg">
    </div>
     <div class="col-md-4">
      <center><img height="350px" width="175px" src="http://minnesotaconnected.com/wp-content/uploads/2014/04/stanley_cup.jpeg"></center>
    </div>
     <div class="col-md-4">
      <img class="border" src="http://2.cdn.nhle.com/blackhawks/v2/ext/Chase-Photos/SCF-Game6/celebration/15-171463662-small.jpg">
    </div>
  </div>
</div>
  <br>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="border" src="http://media0.giphy.com/media/UvuThu3WZYUfe/200.gif">
    </div>
     <div class="col-md-4">
      <center><img class="border"src="http://media3.giphy.com/media/4JX4vfiy3vQtO/200.gif"></center>
    </div>
     <div class="col-md-4">
      <img class="border" src="http://media0.giphy.com/media/XvgkIvZdTTLCU/200.gif">
    </div>
  </div>
</div>
<br>
<br>
</div>
