<h1>New NHL Player</h1>

<form action="/create_nplayer">
  <div>
    <label for="player_id">Player</label><br />
    <select name="player_id">
      <% @players.each do |player| %>
      <option value="<%= player.id %>"><%= player.name %></option>
      <% end %>
    </select>
 </div>
    <div>
    <label for="team_id">Team</label><br />
    <select name="team_id">
      <% @teams.each do |team| %>
      <option value="<%= team.id %>"><%= team.name %></option>
      <% end %>
    </select>
 </div>
  <div>
    <input type="submit">
  </div>
</form>

