<div class="background"> 
  <div class="jumbotron">
    <div class="container">
  <h1>HUT Consultant</h1>
    </div>
  </div>
  <div class="background">
    <div class="col-md-4">
<center><img class="logo" src="http://cdn.hockeygifs.com/i/duc3doa.gif"></center>
    </div>
    <div class="col-md-4">
<center><img class="logo" src="http://www.thebreakaway.net/photoplog/images/91/2_NHL.jpg"></center>
    </div>
     <div class="col-md-4">
<center><img class="logo" src="http://cdn.hockeygifs.com/i/zlp4poz.gif"></center>
  </div>
  </div>
</div>