<h1>Players</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>  
          <td><button><a href="/players/<%= player.id %>">Show</a></button></td>
      <td><button><a href="/players/<%= player.id %>/edit">Edit</a></button></td>
      <td><button><a href="/players/<%= player.id %>/destroy">Destroy</a></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

