<h1>New Player</h1>

<form action="/create_player">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="bio">bio</label><br />
     <textarea id="bio" name="bio" type="text" cols="40" rows="4"></textarea>
  </div>
   <div>
    <label for="image">Image URL</label><br />
    <input id="image" name="image" type="text" />
  </div>
   <div>
    <label for="team_id">Team</label><br />
    <select name="team_id">
      <% @teams.each do |team| %>
      <option value="<%= team.id %>"><%= team.name %></option>
      <% end %>
    </select>
 </div>
  <div>
    <input type="submit">
  </div>
</form>

