<h1>New Player</h1>

<form action="/create_player">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="bio">bio</label><br />
     <textarea id="bio" name="bio" type="text" cols="40" rows="4"></textarea>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

