<h1>New Fantasy Team</h1>

<form action="/create_fantasy">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="user">user</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

