<h1>Editing Stat #<%= @stat.id %></h1>

<form action="/stats/<%= @stat.id %>/update">
  <div>
    <label for="overall">overall</label><br />
    <input id="overall" name="overall" value="<%= @stat.overall  %>" type="text" />
  </div>
   <div>
    <label for="player_id">player_id</label><br />
    <input id="player_id" name="player_id" value="<%= @stat.player_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


