<h1>Stats</h1>

<p><a href="/new_stat">Add a New Stat</a></p>

<table class="table">
  <thead>
    <tr>
      <th>Overall</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @stats.each do |stat| %>
    <tr>
      <td><%= stat.overall %></td>
          <td><button><a href="/stats/<%= stat.id %>">Show</a></button>
        </td>
      <td><button><a href="/stats/<%= stat.id %>/edit">Edit</a></button></td>
      <td><button><a href="/stats/<%= stat.id %>/destroy">Destroy</a></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

