<h1>New Stat</h1>

<form action="/create_stat">
  <div>
    <label for="shot">shot</label><br />
    <input id="shot" name="shot" type="text" />
  </div>
  <div>
    <label for="skate">skate</label><br />
    <input id="skate" name="skate" type="text" />
  </div>
  <div>
    <label for="check">check</label><br />
    <input id="check" name="check" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

