<h1>Stat #<%= @stat.id %></h1>

<div>
  <strong>Overall</strong>:<br />
  <p><%= @stat.overall %></p>
</div>

<button><a href="/stats/<%= @stat.id %>/edit">Edit</a></button>
<button><a href="/stats/<%= @stat.id %>/destroy">Destroy</a></button>
